@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.eot?iefix') format('eot'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),  
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.eot?iefix') format('eot'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot?iefix') format('eot'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal; 
}
* {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
h1, h2, h3, h4 , h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px;
    position: relative;
    z-index: 1;
}
.header-slider {
    position: absolute;
    top: 0;
}
.logo h3 {
    font-size: 45px;
    color: #fde52c;
    font-weight: 800;
    letter-spacing: -1.2px;
}
.logo p {
    position: relative;
    left: 5px;
    top: -18px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
}
.navigation_list--header{
    display: flex;
    height: 63px;
    justify-content: center;
    align-items: center;
}
.navigation_list--header .navigation__item{
    padding-right:30px;
}
.navigation_list--header li {
    list-style: none;
    letter-spacing: 1.5px;
}
.navigation_list--header a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.carousel-control-next, .carousel-control-prev {
	width: auto;
}
.carousel-control-prev-icon {
    background-image: url(../img/icon--long-arrow-pointing-to-left.svg);
}
.carousel-control-next-icon {
	background-image: url(../img/icon--long-arrow-pointing-to-the-right.svg);
}
.carousel-control-prev {
	left: 100px;
}
.carousel-control-next {
    left: 200px;
	right: inherit;
}
.sr-only {
	position: relative;
    width: auto;
    height: auto;
    padding: 0;
    overflow: auto;
    clip: inherit;
}